@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
  0%, 100% { opacity: .8; }
  50% { opacity: 1; }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body, #root, .canvas-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #f56565; /* Это цвета для класса `border-red-500` */
  }
}

.animation-blink {
  animation: blink 1s infinite;
}

/*
'woodsmoke': {
  '50': 'hsl(0, 0%, 96%)',
  '100': 'hsl(0, 0%, 91%)',
  '200': 'hsl(0, 0%, 82%)',
  '300': 'hsl(0, 0%, 69%)',
  '400': 'hsl(0, 0%, 53%)',
  '500': 'hsl(0, 0%, 43%)',
  '600': 'hsl(0, 0%, 36%)',
  '700': 'hsl(0, 0%, 31%)',
  '800': 'hsl(0, 0%, 27%)',
  '900': 'hsl(0, 0%, 24%)',
  '950': 'hsl(0, 0%, 10%)',
},
*/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 22%;
    --foreground: 0, 0%, 82%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 0, 0%, 22%;
    --popover-foreground: 0, 0%, 82%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}

.container {
  display: flex; /* Или любой другой подходящий дисплей */
  justify-content: flex-start; /* Убедиться, что элементы внутри контейнера выровнены по левому краю */
  align-items: flex-start; /* Убедиться, что элементы внутри контейнера выровнены по верху */
}

.file-name {
  word-wrap: break-word; /* Для переноса длинных слов */
  max-width: 200px; /* Ограничивает ширину */
  display: inline-block; /* И позволяет перекрывать блочные элементы */
  text-align: left; /* Прижимает текст к левому краю */
  /* Убираем внешние и внутренние отступы */
  padding: 0;
  margin-bottom: 10px;
}

.square-palette {
  width: 250px;
  height: 250px;
}

.square-item {
  width: 64px; /* 16 * 4 (rem) */
  height: 64px; /* 16 * 4 (rem) */
}

.custom-text {
  color: #00FF00; /* Зеленый цвет */
  background: linear-gradient(45deg, #ff007f, #00bfff); /* Бармалиново-голубой градиент */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.custom-text::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid red; /* Красная рамка */
  z-index: -1;
}

.custom-text::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-image: radial-gradient(circle, #ff007f 1px, transparent 1px);
  background-size: 10px 10px; /* Размер крапинок */
  z-index: -2;
}